.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  padding: 65px 0;
}

.logo {
  display: block;
  width: 150px;
  margin-bottom: 40px;
}

.setting-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.setting-btn svg {
  margin-right: 10px;
}

.btn-group button {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
