.title_bar {
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  -webkit-app-region: drag;
}

.right {
  float: right;
}

.btn {
  float: right;
  width: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: red;
}
