.titleBar {
  position: relative;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  -webkit-app-region: drag;
}

.titleBar .control {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}

.titleBar .control svg {
  cursor: pointer;
}

.titleBar .control svg:hover {
  fill: #000;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-app-region: no-drag;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: red;
}
