.select-window {
  display: flex;
  flex-flow: wrap;
  padding: 10px 5px;
}

.window-item {
  width: 25%;
  padding: 5px;
}

.window-item img {
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.55) 0 10px 28px;
}

.window-item .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 400;
}

.window-item .title > img {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.window-item .window-item-inner {
  position: relative;
  padding: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.window-item.checked .window-item-inner {
  border-color: rgb(235, 50, 35);
  border-radius: 5px;
}

.window-item .arrow {
  position: absolute;
  right: 10px;
  bottom: 40px;
  display: none;
}

.window-item.checked .arrow {
  display: block;
}
