html,
body,
:global(#root) {
  height: 100%;
  user-select: none;
}

* {
  box-sizing: border-box;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  border: 0;
  outline: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
