::-webkit-scrollbar {
  width: 0;
}

html,
body,
:global(#root) {
  height: 100%;
  user-select: none;
}

* {
  box-sizing: border-box;
  font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'WenQuanYi Micro Hei', sans-serif;
  border: 0;
  outline: 0;
}

img {
  -webkit-user-drag: none;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-wrapper .content {
  height: 100%;
  overflow-y: scroll;
}
